* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to right, #457fca, #5691c8);
  font-size: 1.5rem;
  color: #fff;
}
.links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.links > li > a {
  text-decoration: none;
  color: #fff;
}

.container {
  margin: 0 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  margin-left: 0;
}
.add-form-wrapper {
  height: 100vh;
  position: absolute;
  left: -22rem;
  top: 0;
  background-color: #5691c8;
  padding: 3rem 1rem;

  cursor: pointer;
  transition: left 1s;
  z-index: 1;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.add-form-wrapper:hover {
  left: 0;
}
.add-form-wrapper:hover > h2 {
  visibility: hidden;
}
.add-form-wrapper > h2 {
  writing-mode: vertical-rl;
  /*text-orientation: sideways;*/
  transform: scale(-1);
  font-size: 2rem;
}
.add-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20rem;
}
.add-form > input {
  text-indent: 1rem;
  font-size: 1.3rem;
}
.add-form > button {
  font-size: 1.3rem;
}
.search-form {
  display: flex;
  justify-content: center;
  width: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 2rem;
  min-width: 375px;
}

.search-bar {
  width: 100%;
  text-indent: 4rem;
  font-size: 1.3rem;
  background-image: url("./assets/search-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  border: none;
  height: 3rem;
  margin: 0.3rem 1rem;
}
.search-bar:focus {
  outline: none;
}
.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 0 2rem;
  margin-left: 2rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* border: 2px solid red; */
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 1s;
}
.card:hover {
  transform: scale(1.1, 1.1);
}

.card > figure {
  width: 150px;
  text-align: center;
  border-radius: 1rem;
}
img {
  border-radius: 10%;
}
.card > figure > figcaption {
  height: 7rem;
  padding: 0.5rem;
}
